# Pliki i katalogi związane z Pythonem
__pycache__/
*.py[cod]
*$py.class
/TEST
# Wirtualne środowiska
venv/
env/
.env
# Dane z uczenia maszynowego
*.pkl
*.h5
*.model
*.joblib
*.pt
*.pth
*.onnx
*.pb
*.tflite
*.mlmodel

# Duże pliki
*.zip
*.tar.gz
*.rar
*.7z
*.iso
*.dmg
*.bin
*.exe
*.msi

# Katalogi z danymi
data/
datasets/
corpus/
embeddings/

# Pliki checkpointów
checkpoint*/
fine_tuned_model*/
*.ckpt
*.safetensors
# Pliki tensorboard
events.out.tfevents.*

# Duże pliki CSV i JSON
*.csv
*.json

# Pliki audio i wideo
*.mp3
*.wav
*.mp4
*.avi
*.mov

# Pliki obrazów
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.tiff

# Komentarz: Dodano ignorowanie plików związanych z uczeniem maszynowym i dużych plików

# Pliki IDE
.vscode/
.idea/
*.swp
*.swo

# Pliki dzienników
*.log

# Pliki bazy danych
*.sqlite3

# Pliki konfiguracyjne
*.ini
*.cfg

# Pliki tymczasowe
*.tmp
*.bak
*.swp
*~

# Pliki systemu operacyjnego
.DS_Store
Thumbs.db

# Katalogi z zależnościami
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Pliki dystrybucji
dist/
build/
eggs/
.eggs/

# Pliki dokumentacji
docs/_build/

# Pliki testów i pokrycia kodu
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Pliki Jupyter Notebook
.ipynb_checkpoints

# Pliki pyenv
.python-version

# Pliki pipenv
Pipfile.lock

# Pliki poetry
poetry.lock

# Pliki mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pliki Pyre
.pyre/

# Pliki Pytype
.pytype/

# Pliki Cython
*.c
*.so

# Komentarz: Ten plik .gitignore zawiera typowe wzorce dla projektów Pythona,
# ignorując pliki tymczasowe, katalogi środowisk wirtualnych, pliki IDE,
# pliki kompilowane i wiele innych, które nie powinny być śledzone przez Git.
# Wykluczenie katalogu LATEST_BEST_MODEL, ale pozwolenie na wysłanie na serwer Git
TRAIN/INTENT_CLASS/LATEST_BEST_MODEL/model.safetensors
!TRAIN/INTENT_CLASS/LATEST_BEST_MODEL/*.json
!TRAIN/INTENT_CLASS/LATEST_BEST_MODEL/*.csv
!TRAIN/INTENT_CLASS/LATEST_BEST_MODEL/*.txt
!TRAIN/INTENT_CLASS/translated_kor_3i4k_csv/*
